* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: black;
}

/* body::-webkit-scrollbar {
  width: 8px;
} */

.about-section,
.project-section,
.experience-section,
.contact-section,
.design-section {
  /* background-color: orange; */
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  padding: 10px;
}
/* ***** Header Section ***** */
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
.nav-header span {
  color: rgba(93, 36, 146, 0.669);
  font-weight: bold;
  font-size: 20px;
}
.logo {
  text-decoration: none;
  font-size: 25px;
}
.nav-header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style-type: none;
}
.nav-header-list li a {
  text-decoration: none;
  color: black;
}
.download-toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.toggle-btn {
  color: oklch(49.6% 0.265 301.924);
}
.nav-header-btn-container,
.work-together-btn {
  background-color: oklch(49.6% 0.265 301.924);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}
.nav-header-btn-container span {
  color: white;
  font-weight: normal;
  font-size: 16px;
}

/* ***** Hero section ***** */
main {
  margin-top: 84px;
}
.hero-container {
  /* height: 450px; */
  background: radial-gradient(circle, rgb(248, 248, 255), rgb(222, 205, 247));
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-inner-container {
  margin-left: 35px;

  padding: 20px;
}
.span {
  background-color: oklch(49.6% 0.265 301.924);
  color: white;
  display: block;
  text-align: justify;
  max-width: 250px;
  padding: 2px;
  padding-left: 10px;
  margin: 10px 0;
  border-radius: 6px;
}
.hero-heading {
  font-size: 50px;
  letter-spacing: -2px;
  line-height: 55px;
}
.hero-inner-heading {
  color: oklch(49.6% 0.265 301.924);
}
.hero-para {
  max-width: 900px;
  font-size: 17px;
  margin-top: 15px;
  text-align: justify;
}
.hero-btn-container {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}
.hero-btn-container a {
  text-decoration: none;
}
.view-btn {
  padding: 10px 18px;
  background: linear-gradient(
    90deg,
    rgb(147, 24, 250),
    rgb(79, 58, 246),
    rgb(0, 171, 223)
  );
  color: #ffffff;
  border-radius: 4px;
}
.contact-btn {
  padding: 10px 18px;
  border: 1px solid rgb(147, 24, 250);
  background: rgb(255, 255, 255);
  color: #000000;
  border-radius: 4px;
}

.hero-image-container {
  padding: 20px;
}
.hero-image {
  width: 350px;
  height: 350px;
  margin: 0px 50px;
  border-radius: 50%;
}

.about-me-heading {
  color: #9318fa;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about-content-image-link {
  /* background-color: crimson; */
  /* padding: 20px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.about-link-para {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about-link {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 15px 0;
  font-size: 18px;
}
.myself {
  text-decoration: underline;
  text-underline-offset: 18px;
  margin-bottom: 25px;
  text-decoration-thickness: 2px;
  color: oklch(49.6% 0.265 301.924);
}

.about-para {
  font-size: 17px;
  line-height: 2;
  text-align: justify;
  width: 90%;
  margin-bottom: 20px;
  color: #000000;
  font-weight: 600;
}
.get-in-touch-btn {
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 600;
  background-color: #9318fa;
  padding: 10px 24px;
  transition: 0.3s ease-in;
}
/* Uncomment this like to apply hover effect style */

/* .get-in-touch-btn:hover {
  background-color: green;
  color: red;
  border-radius: 0px;
  font-weight: normal;
} */
.about-image-container img {
  width: 380px;
  height: 380px;
  margin: 0px 50px;
  object-fit: cover;
  border-radius: 10px;
}

/* ***** Projects Section ***** */
.project-section {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.first-project-paucek {
  border: 1px solid #9318fa;
  border-radius: 10px;
  padding-bottom: 10px;
}
.first-project-paucek img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.project-heading-paucek {
  margin: 10px 0;
  font-size: 20px;
  padding-left: 15px;
  margin-bottom: 20px;
  font-size: 22px;
  color: black;
}
.first-project-para {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: -10px;
  text-align: justify;
  color: oklch(44.6% 0.03 256.802);
}
.project-list-item {
  list-style-type: none;
  padding-left: 15px;
  display: flex;
  margin: 10px 0px 5px 0;
  gap: 10px;
}
.project-list-item li {
  color: #9318fa;
  background-color: oklch(94.6% 0.033 307.174);
  padding: 2px 8px;
  font-size: 15px;
  border-radius: 4px;
}
.project-link {
  text-decoration: none;
  background-color: oklch(49.6% 0.265 301.924);
  color: #ffffff;
  margin: 10px 0;
  margin-left: 15px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px 24px;
  border-radius: 4px;
  font-size: 17px;

  display: block;
}
/* ***** Experience Section ***** */
.experience-section,
.contact-section {
  /* background-color: red; */
  /* color: orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Project-heading-para and experience-heading-para uses same style */
.experience-heading-para,
.project-heading-para,
.contact-heading-para {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 65px;
}

/* binding ex-heading and project-heading because both uses the same code */
.ex-heading,
.project-heading,
.contact-heading {
  color: #9318fa;
  font-size: 25px;
  margin-bottom: 20px;
}

/* binding ex-para and project-para because both uses the same code */
.ex-para,
.project-para,
.contact-para {
  width: 80%;
  text-align: center;
  max-width: 900px;
  color: oklch(44.6% 0.03 256.802);
  font-size: 18px;
}

/* ***** Design & Development Style ***** */
.design-section {
  margin-top: 50px;
  background: radial-gradient(circle, rgb(248, 248, 255), rgb(222, 205, 247));
}
.design-heading {
  color: oklch(49.6% 0.265 301.924);
  font-size: 25px;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 20px;
}
.design-pattern {
  /* background: orange; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 15px;
}
.design-pattern-11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.design-number {
  background-color: oklch(49.6% 0.265 301.924);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}
.design-pattern-heading {
  font-size: 17px;
  margin: 5px 0;
}
.design-para {
  text-align: center;
}

/* ***** ***** Contact Section ***** ***** */
.contact-heading-para {
  margin-bottom: 30px;
}
.work-together-btn {
  color: #ffffff;
  margin: 15px 0;
  padding: 12px 18px;
}
/* General settings for the contact-address and the contact-form */
.contact-address-form {
  /* background-color: red; */
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  width: 100%;
}

/* Contact address setting: aside */
aside {
  /* background-color: blue; */
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  padding: 10px;
}

.email-container,
.phone-container,
.location-container {
  width: 90%;
  margin: 10px 0;
  padding: 20px 10px;
  box-shadow: 0px 0px 2px rgba(86, 85, 85, 0.763);
  border-radius: 4px;
}

/* Contact Form setting: form */
form {
  /* background-color: pink; */

  height: 350px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 50%;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px oklch(44.6% 0.03 256.802);
}
input,
textarea {
  /* background-color: green; */
  padding: 12px;
  font-size: 15px;
  outline: none;
  width: 100%;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid rgba(86, 85, 85, 0.763);
}
textarea {
  resize: vertical;
}
.submit-btn {
  background-color: oklch(49.6% 0.265 301.924);
  border-radius: 4px;
  padding: 20px;
  width: 100%;
  color: white;
  border: none;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}

/* ***** Footer Section ***** */
.footer-section {
  padding: 20px;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  gap: 10px;
}
.footer-section-container {
  width: 33.3%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.footer-heading,
.links-heading,
.connect-heading {
  color: #9318fa;
  font-size: 22px;
  margin-bottom: 10px;
}
.footer-heading {
  margin-top: -28px;
}
.connect-heading {
  margin-top: -75px;
}
.footer-para {
  text-align: justify;
  line-height: 23px;
  font-size: 17px;
  color: oklch(44.6% 0.03 256.802);
}
.footer-list-items {
  list-style: none;
}

.footer-list-items li a {
  text-decoration: none;
  color: oklch(44.6% 0.03 256.802);
  line-height: 25px;
  font-size: 17px;
}
.connect-para {
  font-size: 17px;
  color: oklch(44.6% 0.03 256.802);
}
.connect-para a {
  color: oklch(44.6% 0.03 256.802);
  font-size: 17px;
  text-decoration: none;
}
.copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 17px;
  margin-bottom: 25px;
  color: oklch(44.6% 0.03 256.802);
}
