:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --heading-color: #000000; /* default heading color */
  --heading-four: oklch(49.6% 0.265 301.924);
  --para-four: #000000;
  --muted-text: oklch(44.6% 0.03 256.802);
  --primary-color: oklch(49.6% 0.265 301.924);
  --card-bg: #ffffff;
  --btn-bg: oklch(49.6% 0.265 301.924);
  --gradient-btn: linear-gradient(
    90deg,
    rgb(147, 24, 250),
    rgb(79, 58, 246),
    rgb(0, 171, 223)
  );
}
.dark-background {
  --bg-color: oklch(12.9% 0.042 264.695);
  --text-color: oklch(98.4% 0.003 247.858);
  --para-text: #000000;
  --heading-color: #000000; /* heading in dark mode */
  --heading-four: #000000;
  --para-four: #000000;
  --muted-text: #cccccc;
  --card-bg: #111111;
  --btn-bg: oklch(49.6% 0.265 301.924);
}

/* ***** Global Styles ***** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-heading {
  color: var(--heading-color);
}
.hero-para {
  color: var(--para-text);
}
.heading-four {
  color: var(--heading-four);
}
.para-four {
  color: var(--para-four);
}
/* ***** Sections ***** */
.about-section,
.project-section,
.experience-section,
.contact-section,
.design-section {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  padding: 10px;
}

/* ***** Header Section ***** */
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.nav-header span {
  color: rgba(93, 36, 146, 0.669);
  font-weight: bold;
  font-size: 20px;
}

.logo {
  text-decoration: none;
  font-size: 25px;
}

.nav-header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style-type: none;
}

.mobile-menu {
  display: none;
}

.nav-header-list li a {
  text-decoration: none;
  color: var(--text-color);
}

.download-toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.toggle-btn {
  cursor: pointer;
  /* background-color: green; */
  color: var(--primary-color);
}

.nav-header-btn-container,
.work-together-btn {
  background-color: var(--btn-bg);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}

.nav-header-btn-container span {
  color: white;
  font-weight: normal;
  font-size: 16px;
}

/* ***** Hero Section ***** */
main {
  margin-top: 84px;
}

.hero-container {
  background: radial-gradient(circle, rgb(248, 248, 255), rgb(222, 205, 247));
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-inner-container {
  margin-left: 35px;
  padding: 20px;
}

.span {
  background-color: var(--primary-color);
  color: white;
  display: block;
  text-align: justify;
  max-width: 250px;
  padding: 2px 10px;
  margin: 10px 0;
  border-radius: 6px;
}

.hero-heading {
  font-size: 50px;
  letter-spacing: -2px;
  line-height: 55px;
}

.hero-inner-heading {
  color: var(--primary-color);
}

.hero-para {
  max-width: 900px;
  font-size: 17px;
  margin-top: 15px;
  text-align: justify;
}

.hero-btn-container {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.hero-btn-container a {
  text-decoration: none;
}

.view-btn {
  padding: 10px 18px;
  background: var(--gradient-btn);
  color: #ffffff;
  border-radius: 4px;
}

.contact-btn {
  padding: 10px 18px;
  border: 1px solid rgb(147, 24, 250);
  background: #ffffff;
  color: #000000;
  border-radius: 4px;
}

.hero-image-container {
  padding: 20px;
}

.hero-image {
  width: 350px;
  height: 350px;
  margin: 0px 50px;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.3s ease-in;
}
.hero-image:hover {
  box-shadow: 0px 0px 25px oklch(49.6% 0.265 301.924);
}

/* ***** About Section ***** */
.about-me-heading {
  color: var(--primary-color);
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-content-image-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.about-link-para {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about-link {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 15px 0;
  font-size: 18px;
  cursor: pointer;
}
.education:hover,
.skills:hover {
  color: oklch(49.939% 0.2637 302.037 / 0.619);
  transition: 0.3s ease-in;
}
.myself {
  text-decoration: underline;
  text-underline-offset: 18px;
  margin-bottom: 25px;
  text-decoration-thickness: 2px;
  color: var(--primary-color);
}

.about-para {
  font-size: 17px;
  line-height: 2;
  text-align: justify;
  width: 90%;
  margin-bottom: 20px;
  color: var(--text-color);
  font-weight: 600;
}
.education-para {
  display: none;
}
.skills-para {
  display: none;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.skills-para li {
  list-style: none;
}
.get-in-touch-btn {
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 600;
  background-color: var(--primary-color);
  padding: 10px 24px;
  transition: 0.3s ease-in;
}

.about-image-container img {
  width: 380px;
  height: 380px;
  margin: 0px 50px;
  object-fit: cover;
  border-radius: 10px;
}

/* ***** Projects Section ***** */
.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.first-project-paucek {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding-bottom: 10px;
}

.first-project-paucek img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.project-heading-paucek {
  margin: 10px 0;
  font-size: 22px;
  padding-left: 15px;
  margin-bottom: 20px;
  color: var(--text-color);
}

.first-project-para {
  padding: 0 15px;
  margin-top: -10px;
  text-align: justify;
  color: var(--muted-text);
  font-size: 15px;
}

.project-list-item {
  list-style-type: none;
  padding-left: 15px;
  display: flex;
  margin: 10px 0px 5px 0;
  gap: 10px;
}

.project-list-item li {
  color: var(--primary-color);
  background-color: oklch(94.6% 0.033 307.174);
  padding: 2px 8px;
  font-size: 15px;
  border-radius: 4px;
}
.project-btn {
  /* background-color: red; */
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 10px;
}
.project-link,
.view-github {
  text-decoration: none;
  background-color: var(--primary-color);
  color: #ffffff;
  margin: 5px 0;
  margin-left: 5px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 15px;
}

/* ***** Experience Section ***** */
.experience-section,
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Heading paragraphs for project/experience/contact */
.experience-heading-para,
.project-heading-para,
.contact-heading-para {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 65px;
}

.ex-heading,
.project-heading,
.contact-heading {
  color: var(--primary-color);
  font-size: 25px;
  margin-bottom: 20px;
}

.ex-para,
.project-para,
.contact-para {
  width: 80%;
  text-align: center;
  max-width: 900px;
  color: var(--muted-text);
  font-size: 18px;
}

/* ***** Design Section ***** */
.design-section {
  margin-top: 50px;
  background: radial-gradient(circle, rgb(248, 248, 255), rgb(222, 205, 247));
}

.design-heading {
  color: var(--primary-color);
  font-size: 25px;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 20px;
}

.design-pattern {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.design-pattern-11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.design-number {
  background-color: var(--primary-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.design-pattern-heading {
  font-size: 17px;
  margin: 5px 0;
}

.design-para {
  text-align: center;
}

/* ***** Contact Section ***** */
.contact-heading-para {
  margin-bottom: 30px;
}

.work-together-btn {
  color: #ffffff;
  margin: 15px 0;
  padding: 12px 18px;
}

.contact-address-form {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  width: 100%;
}

aside {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  padding: 10px;
}

.email-container,
.phone-container,
.location-container {
  width: 90%;
  margin: 10px 0;
  padding: 20px 10px;
  box-shadow: 0px 0px 2px rgba(86, 85, 85, 0.763);
  border-radius: 4px;
}
.email-container h4,
.phone-container h4,
.location-container h4,
.location-container p {
  font-style: normal;
  font-weight: normal;
}
.email-link {
  color: black;
  text-decoration: none;
  font-style: normal;
}

form {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 50%;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px var(--muted-text);
}

input,
textarea {
  padding: 12px;
  font-size: 15px;
  outline: none;
  width: 100%;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid rgba(86, 85, 85, 0.763);
}

textarea {
  resize: vertical;
}

.submit-btn {
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 20px;
  width: 100%;
  color: white;
  border: none;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}

/* ***** Footer Section ***** */
.footer-section {
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  gap: 10px;
}

.footer-section-container {
  width: 33.3%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.footer-heading,
.links-heading,
.connect-heading {
  color: var(--primary-color);
  font-size: 22px;
  margin-bottom: 10px;
}

.footer-heading {
  margin-top: -28px;
}

.connect-heading {
  margin-top: -75px;
}

.footer-para,
.connect-para,
.footer-list-items li a,
.connect-para a {
  font-size: 17px;
  color: var(--muted-text);
  text-decoration: none;
}

.footer-para {
  text-align: justify;
  line-height: 23px;
}

.footer-list-items {
  list-style: none;
}

.copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 17px;
  margin-bottom: 25px;
  color: var(--muted-text);
}

/* ***** Skill Page Style ***** */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.skill-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  margin: 15px 0;
}
.skill-heading {
  color: var(--heading-color);
  font-size: 22px;
}
.skill-para {
  font-size: 16px;
  width: 80%;
  max-width: 900px;
}
.skill-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap: 10px;
}


.fontend-core {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 20px;
}
.frontend-core-heading {
  color: red;
  font-size: 16px;
  margin-bottom: 10px;
}
.frontend-core-para {
  margin-bottom: 10px;
  font-size: 15px;
  color: oklch(70.7% 0.022 261.325);
}
.frontend-core-list {
  list-style-type: none;
  display: flex;
  gap: 10px;
}
.frontend-core-list li {
  font-size: 13px;
  margin-top: 10px;
  background-color: oklch(94.6% 0.033 307.174);
  color: var(--primary-color);
  padding: 2px 5px;
  border-radius: 4px;
}
