* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.about-section,
.project-section,
.experience-section {
  /* background-color: orange; */
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  padding: 10px;
}
/* ***** Header Section ***** */
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 18px;
}
.nav-header span {
  color: rgba(93, 36, 146, 0.669);
  font-weight: bold;
  font-size: 20px;
}
.logo {
  text-decoration: none;
  font-size: 25px;
}
.nav-header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style-type: none;
}
.nav-header-list li a {
  text-decoration: none;
  color: black;
}
.download-toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.change-background {
  background-color: red;
  color: white;
  transition: 0.3s ease-in-out;
}
.toggle-btn {
  color: oklch(49.6% 0.265 301.924);
}
.nav-header-btn-container {
  background-color: oklch(49.6% 0.265 301.924);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}
.nav-header-btn-container span {
  color: white;
  font-weight: normal;
  font-size: 16px;
}

/* ***** Hero section ***** */
.hero-container {
  /* height: 450px; */
  background: radial-gradient(circle, rgb(248, 248, 255), rgb(222, 205, 247));
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-inner-container {
  margin-left: 35px;
  /* background-color: red; */
  padding: 20px;
}
.span {
  background-color: oklch(49.6% 0.265 301.924);
  color: white;
  display: block;
  width: 30%;
  padding: 5px;
  padding-left: 10px;
  margin: 10px 0;
  border-radius: 6px;
}
.hero-heading {
  font-size: 50px;
  letter-spacing: -2px;
  /* width: 50%; */
}
.hero-inner-heading {
  color: oklch(49.6% 0.265 301.924);
}
.hero-para {
  width: 60%;
  max-width: 900px;
  font-size: 17px;
  margin-top: 15px;
  text-align: justify;
}
.hero-btn-container {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}
.hero-btn-container a {
  text-decoration: none;
}
.view-btn {
  padding: 10px 18px;
  background: linear-gradient(
    90deg,
    rgb(147, 24, 250),
    rgb(79, 58, 246),
    rgb(0, 171, 223)
  );
  color: #ffffff;
  border-radius: 4px;
}
.contact-btn {
  padding: 10px 18px;
  border: 1px solid rgb(147, 24, 250);
  background: rgb(255, 255, 255);
  color: #000000;
  border-radius: 4px;
}
.hero-image-container {
  /* background-color: blue; */
  padding: 20px;
}
.hero-image {
  width: 350px;
  height: 350px;
  margin: 0px 50px;
  border-radius: 50%;
}

.about-me-heading {
  color: #9318fa;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about-content-image-link {
  /* background-color: crimson; */
  /* padding: 20px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.about-link-para {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about-link {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 15px 0;
  font-size: 18px;
}
.myself {
  text-decoration: underline;
  text-underline-offset: 18px;
  margin-bottom: 25px;
  text-decoration-thickness: 2px;
  color: oklch(49.6% 0.265 301.924);
}

.about-para {
  font-size: 17px;
  line-height: 2;
  text-align: justify;
  width: 90%;
  margin-bottom: 20px;
  color: #000000;
  font-weight: 600;
}
.get-in-touch-btn {
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 600;
  background-color: #9318fa;
  padding: 10px 24px;
  transition: 0.3s ease-in;
}
/* Uncomment this like to apply hover effect style */

/* .get-in-touch-btn:hover {
  background-color: green;
  color: red;
  border-radius: 0px;
  font-weight: normal;
} */
.about-image-container img {
  width: 380px;
  height: 380px;
  margin: 0px 50px;
  object-fit: cover;
  border-radius: 10px;
}

/* ***** Projects Section ***** */
.project-section {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ***** Experience Section ***** */
.experience-section,
.contact-section {
  /* background-color: red; */
  /* color: orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Project-heading-para and experience-heading-para uses same style */
.experience-heading-para,
.project-heading-para,
.contact-heading-para {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 65px;
}

/* binding ex-heading and project-heading because both uses the same code */
.ex-heading,
.project-heading,
.contact-heading {
  color: #9318fa;
  font-size: 40px;
  margin-bottom: 20px;
}

/* binding ex-para and project-para because both uses the same code */
.ex-para,
.project-para,
.contact-para {
  width: 80%;
  text-align: center;
  max-width: 900px;
  color: oklch(44.6% 0.03 256.802);
  font-size: 18px;
}

/* ***** Contact Section ***** */
.contact-heading